anyio==3.5.0
bandit==1.7.4
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
DataProperty==0.55.0
dominate==2.6.0
gitdb==4.0.9
GitPython==3.1.27
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==2.10
jellyfish==0.8.2
jsontree==0.5.1
mbstrdecoder==1.1.0
mrs-spellings==1.0.3
packaging==21.3
pathvalidate==2.5.0
pbr==5.8.1
platformdirs==2.5.2
prettytable==3.3.0
pyparsing==3.0.8
pypistats==1.1.0
pytablewriter==0.64.2
python-dateutil==2.8.2
python-slugify==6.1.2
PyYAML==6.0
requests==2.24.0
rfc3986==1.5.0
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.0.1
stevedore==3.5.0
tabledata==1.3.0
tcolorpy==0.1.2
termcolor==1.1.0
text-unidecode==1.3
typepy==1.3.0
urllib3==1.25.10
wcwidth==0.2.5
